__pycache__
out
# ignore built binaries
client/v*.*.*

pyproject.toml
client_builds
.mypy_cache
.venv
.pdm-python

.ruff_cache

# prevent publishing of dynamically created updater cache
*_updater_status.json

# debug folder
_debug/

# debug env variables
.env
